{% if section.settings['show-announcement'] %}
    <nav class="announcement-bar navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <i class="fa fa-envelope mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:{{section.settings.header_email}}">{{section.settings.header_email}}</a>
                <i class="fa fa-phone mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="tel:{{section.settings.header_phone}}">{{section.settings.header_phone}}</a>
            </div>
            <div>
                <a class="text-light text-decoration-none" href="https://fb.com/" target="_blank">
                    {% render 'icon-facebook' %}
                </a>
                <a class="text-light text-decoration-none" href="https://www.instagram.com/" target="_blank">
                    {% render 'icon-instagram' %}
                </a>
                <a class="text-light text-decoration-none" href="https://twitter.com/" target="_blank">
                    {% render 'icon-twitter' %}
                </a>
                <a class="text-light text-decoration-none" href="https://www.linkedin.com/" target="_blank">
                    {% render 'icon-linkedin' %}
                </a>
            </div>
        </div>
    </div>
</nav>
{% endif %}


<style>
    .announcement-bar{
        background: {{  section.settings.background }}!important;
    }
    .announcement-bar a{
        color: {{  section.settings.text_color }}!important;
    }
</style>



{% schema %}
{
    "name": "Announcement Bar",
    "settings": [
        {
            "type": "checkbox",
            "id": "show-announcement",
            "label": "Show Announcement",
            "default": true
        },
        {
            "type": "color",
            "id": "background",
            "label": "Background",
            "default": "#212934"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text color",
            "default": "#ffffff"
        },
        {
            "type": "text",
            "id": "header_email",
            "label": "Header email",
            "default": "info@company.com"
        },
        {
            "type": "text",
            "id": "header_phone",
            "label": "Header phone",
            "default": "010-020-0340"
        }
    ],
    "presets": [],
}
{% endschema %}