<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">

        {% comment %} footer top {% endcomment %}
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo">Zay Shop</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        {{section.settings.header_address}}
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:{{section.settings.header_phone}}">{{section.settings.header_phone}}</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:{{section.settings.header_email}}">{{section.settings.header_email}}</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    {% for block in section.blocks %}
                        {%- case block.type -%}
                            {%- when 'quicklinks' -%}
                                <li>
                                    <a class="text-decoration-none" href="{{ block.settings.link }}" target="_blank">
                                        {{ block.settings.text | escape }}
                                    </a>
                                </li>
                        {% endcase %}
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                {% render 'footer-menu' %}
            </div>

        </div>

        {% comment %} footer top end {% endcomment %}


        {% comment %} footer middle {% endcomment %}
        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-auto">
                <label class="sr-only" for="subscribeEmail">Email address</label>
                <div class="input-group mb-2">
                    <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address">
                    <div class="input-group-text btn-success text-light">Subscribe</div>
                </div>
            </div>
        </div>
    </div>

     {% comment %} footer middle end{% endcomment %}

     {% comment %} footer bottom {% endcomment %}
    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        {{ section.settings.footer_bottom }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% comment %} footer bottom end {% endcomment %}

</footer>



<style>
    .bg-dark{
        background: {{  section.settings.background }}!important;
    }
    .bg-dark a,
    .bg-dark p{
        color: {{  section.settings.text_color }}!important;
    }
</style>



{% schema %}
{
    "name": "Footer",
    "settings": [
        {
            "type": "color",
            "id": "background",
            "label": "Background",
            "default": "#212934"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text color",
            "default": "#ffffff"
        },
        {
            "type": "text",
            "id": "header_address",
            "label": "footer address",
            "default": "123 Consectetur at ligula 10660"
        },
        {
            "type": "text",
            "id": "header_email",
            "label": "footer email",
            "default": "info@company.com"
        },
        {
            "type": "text",
            "id": "header_phone",
            "label": "footer phone",
            "default": "010-020-0340"
        },
        {
            "type": "richtext",
            "id": "footer_bottom",
            "label": "footer bottom text",
            "default": "<p>Copyright Text here</p>"
        }
    ],
    "presets": [],


    
    "blocks": [
    {
      "name": "Quicklinks",
      "type": "quicklinks",
      "limit": 8,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Product"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link URL"
        }
      ]
    }
  ]

}
{% endschema %}